@model IEnumerable<Assignment3.Models.Cart>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quontity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quontity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CartId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CartId">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <td>
                <a class="cart" asp-controller="Home" asp-action="Shop">Keep Shopping</a>
                <a class="cart" asp-controller="Carts" asp-action="Checkout">Check Out</a>
            </td>
        </tr>
    </tbody>
</table>
